canvas {
    display: block;
    border: 1px solid rgb(187, 178, 178);
    // width: 700px;
    // height: 200px;
}

@media only screen and (max-width: 830px) {
    canvas {
        width: 450px;
        height: 200px;
    }
}

@media only screen and (max-width: 500px) {
    canvas {
        width: 300px;
        height: 200px;
    }
}

button {
    margin-top: 0.5rem;
}