<div class="container text-center">
    <div class="row">
        <form>
            <p *ngIf="error" class="error">
                <b>{{error}}</b>
            </p>
        
            <div class="input-group">
                <label for="naam" class="input-group-text">Naam</label>
                <input id="naam" class="form-control" #naam >
            </div>

            <div class="input-group">
                <label for="achternaam" class="input-group-text">Achternaam</label>
                <input id="achternaam" class="form-control" #achternaam>
            </div>

            <div class="input-group">
                <label for="email" class="input-group-text">E-mail</label>
                <input type="email" id="email" class="form-control" #email>
            </div>

            <div class="input-group">
                <label for="adress" class="input-group-text">Adress</label>
                <input id="adress" class="form-control" #adress>
            </div>

            <div class="input-group">
                <label for="postcode" class="input-group-text">Postcode</label> 
                <input id="postcode" class="form-control" #postcode>
            </div>

            <div class="input-group">
                <label for="woonplaats" class="input-group-text">Woonplaats</label>
                <input id="woonplaats" class="form-control" #woonplaats>
            </div>

            <div class="input-group">
                <label for="iban" class="input-group-text">IBAN</label>
                <input id="iban" class="form-control" #iban>
            </div>

            <label>Handtekening:</label>
            <app-signature-pad #handtekening></app-signature-pad>

        
            <input type="button" value="Verstuur" (click)="emptyCheck()" class="btn btn-primary">
        </form>
    </div>
</div>