<div class="container text-center">
    <div class="row">

        <form #inschrijfForm="ngForm" (ngSubmit)="send()">
            <div class="form-floating">
                <input id="naam" placeholder="Naam" class="form-control" [(ngModel)]="lid.naam" name="naam" #naam="ngModel" required>
                <label for="naam">Naam
                    <div [hidden]="naam.valid || naam.pristine"
                        class="alert alert-danger niet-valid">
                        {{verplichtText}}
                    </div>
                </label>
            </div>

            <div class="form-floating">
                <input id="achternaam" placeholder="Achternaam" class="form-control" [(ngModel)]="lid.achternaam" name="achternaam" #achternaam="ngModel" required>
                <label for="achternaam">Achternaam
                    <div [hidden]="achternaam.valid || achternaam.pristine"
                        class="alert alert-danger niet-valid">
                        {{verplichtText}}
                    </div>
                </label>
            </div>

            <div class="form-floating">
                <input type="email" id="email" placeholder="E-mail" class="form-control" [(ngModel)]="lid.email" name="email" #email="ngModel" required>
                <label for="email">E-mail
                    <div [hidden]="email.valid || email.pristine"
                        class="alert alert-danger niet-valid">
                        {{verplichtText}}
                    </div>
                </label>
            </div>

            <div class="form-floating">
                <input id="adress" placeholder="Adress" class="form-control" [(ngModel)]="lid.adress" name="adress" #adress="ngModel" required>
                <label for="adress">Adress
                    <div [hidden]="adress.valid || adress.pristine"
                        class="alert alert-danger niet-valid">
                        {{verplichtText}}
                    </div>
                </label>
            </div>

            <div class="form-floating">
                <input id="postcode" placeholder="Postcode" class="form-control" [(ngModel)]="lid.postcode" name="postcode" #postcode="ngModel" required>
                <label for="postcode">Postcode
                    <div [hidden]="postcode.valid || postcode.pristine"
                        class="alert alert-danger niet-valid">
                        {{verplichtText}}
                    </div>
                </label>
            </div>

            <div class="form-floating">
                <input id="woonplaats" placeholder="Woonplaats" class="form-control" [(ngModel)]="lid.woonplaats" name="woonplaats" #woonplaats="ngModel" required>
                <label for="woonplaats">Woonplaats
                    <div [hidden]="woonplaats.valid || woonplaats.pristine"
                        class="alert alert-danger niet-valid">
                        {{verplichtText}}
                    </div>
                </label>
            </div>

            <div class="form-floating">
                <input id="iban" placeholder="iban" class="form-control" [(ngModel)]="lid.iban" name="iban" #iban="ngModel" required>
                <label for="iban">IBAN
                    <div [hidden]="iban.valid || iban.pristine"
                        class="alert alert-danger niet-valid">
                        {{verplichtText}}
                    </div>
                </label>
            </div>

            <label>Handtekening:</label>
            <app-signature-pad #handtekening></app-signature-pad>

            <button type="submit" class="btn btn-primary" [disabled]="!inschrijfForm.form.valid">Submit</button>
        </form>

        <div *ngIf="show" class="toast-positie">
            <ngb-toast header="{{toastHeader}}" [autohide]="true" [delay]="4000">
                {{toastText}}
            </ngb-toast>
        </div>
    </div>
</div>